body {
  background-color: #F2F2F2;
  padding: 50px;
}
.container {
  width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 15px #cdcbc9;
  margin: 100px auto;
  padding: 20px;
}
h2 {
  font-family: Arial;
  text-align: center;
}
#country-select {
  width: 100%;
  height: 35px;
  border: 1px solid #767676;
  font-size: 15px;
  margin-bottom: 15px;
}
table {
  width: 100%;
  background-color: #fdf0f5;
  border-collapse: collapse;
  margin-top: 15px;
}
table td {
  padding: 8px;
  border: 1px solid #dddddd;
  font-size: 16px;
  font-family: Arial;
}
table td:first-child {
  font-weight: bold;
  width: 40%;
}
a {
  color: #3900ec;
}
img {
  width: 50px;
}
#loading-spinner {
  width: 40px;
  padding: 5px;
  display: none;
  margin: auto;
}
